<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings configSource="Conection_db.config">
    <add name="SoundSharpDBEntities" connectionString="metadata=res://*/SoundSharpModel.csdl|res://*/SoundSharpModel.ssdl|res://*/SoundSharpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LP-SYON\MSSQLSERVER01;initial catalog=SoundSharpDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoundSharpDBEntities1" connectionString="metadata=res://*/SoundSharpModel.csdl|res://*/SoundSharpModel.ssdl|res://*/SoundSharpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LP-SYON\MSSQLSERVER01;initial catalog=SoundSharpDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>