USE [master]
GO
/****** Object:  Database [SoundSharpDB]    Script Date: 13-Jun-19 21:45:59 ******/
CREATE DATABASE [SoundSharpDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SoundSharpDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\SoundSharpDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SoundSharpDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\SoundSharpDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoundSharpDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoundSharpDB]
GO
/****** Object:  Table [dbo].[AudioDevice]    Script Date: 13-Jun-19 21:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AudioDevice](
	[SerialId] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](100) NOT NULL,
	[Make] [nvarchar](100) NOT NULL,
	[PriceExBtw] [smallmoney] NOT NULL,
	[CreationDate] [smalldatetime] NOT NULL,
	[BtwPrecentage] [numeric](3, 1) NOT NULL,
 CONSTRAINT [PK__AudioDev__5E5B3EE45FDA1AFE] PRIMARY KEY CLUSTERED 
(
	[SerialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 13-Jun-19 21:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CdDiskMan]    Script Date: 13-Jun-19 21:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CdDiskMan](
	[AudioDeviceId] [int] NOT NULL,
	[MbSize] [int] NOT NULL,
	[DisplayWidth] [int] NOT NULL,
	[DisplayHeight] [int] NOT NULL,
	[IsEjected] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AudioDeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemoRecorder]    Script Date: 13-Jun-19 21:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemoRecorder](
	[AudioDeviceId] [int] NOT NULL,
	[MaxCatridgetype] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AudioDeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mp3Player]    Script Date: 13-Jun-19 21:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mp3Player](
	[AudioDeviceId] [int] NOT NULL,
	[MbSize] [int] NOT NULL,
	[DisplayWidth] [int] NOT NULL,
	[DisplayHeight] [int] NOT NULL,
	[TrackList] [int] NULL,
 CONSTRAINT [PK__Mp3Playe__DA296BBC770C817F] PRIMARY KEY CLUSTERED 
(
	[AudioDeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 13-Jun-19 21:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Artist] [nvarchar](max) NOT NULL,
	[Style] [int] NOT NULL,
	[AlbumSource] [nvarchar](max) NULL,
	[Length] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrackList]    Script Date: 13-Jun-19 21:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Owner] [nvarchar](250) NULL,
 CONSTRAINT [PK__TrackLis__3214EC271116C4EE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrackListTrack]    Script Date: 13-Jun-19 21:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackListTrack](
	[TrackListId] [int] NOT NULL,
	[TrackId] [int] NOT NULL,
 CONSTRAINT [PK_TrackListTrack] PRIMARY KEY CLUSTERED 
(
	[TrackListId] ASC,
	[TrackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TrackListTrack] SET (LOCK_ESCALATION = DISABLE)
GO
ALTER TABLE [dbo].[CdDiskMan]  WITH CHECK ADD  CONSTRAINT [FK__CdDiskMan__Audio__46E78A0C] FOREIGN KEY([AudioDeviceId])
REFERENCES [dbo].[AudioDevice] ([SerialId])
GO
ALTER TABLE [dbo].[CdDiskMan] CHECK CONSTRAINT [FK__CdDiskMan__Audio__46E78A0C]
GO
ALTER TABLE [dbo].[MemoRecorder]  WITH CHECK ADD  CONSTRAINT [FK__MemoRecor__Audio__440B1D61] FOREIGN KEY([AudioDeviceId])
REFERENCES [dbo].[AudioDevice] ([SerialId])
GO
ALTER TABLE [dbo].[MemoRecorder] CHECK CONSTRAINT [FK__MemoRecor__Audio__440B1D61]
GO
ALTER TABLE [dbo].[Mp3Player]  WITH CHECK ADD  CONSTRAINT [FK__Mp3Player__Audio__49C3F6B7] FOREIGN KEY([AudioDeviceId])
REFERENCES [dbo].[AudioDevice] ([SerialId])
GO
ALTER TABLE [dbo].[Mp3Player] CHECK CONSTRAINT [FK__Mp3Player__Audio__49C3F6B7]
GO
ALTER TABLE [dbo].[Mp3Player]  WITH CHECK ADD  CONSTRAINT [FK__Mp3Player__Track__4AB81AF0] FOREIGN KEY([TrackList])
REFERENCES [dbo].[TrackList] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Mp3Player] CHECK CONSTRAINT [FK__Mp3Player__Track__4AB81AF0]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD FOREIGN KEY([Style])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[TrackListTrack]  WITH CHECK ADD  CONSTRAINT [FK__TrackList__Track__3E52440B] FOREIGN KEY([TrackListId])
REFERENCES [dbo].[TrackList] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrackListTrack] CHECK CONSTRAINT [FK__TrackList__Track__3E52440B]
GO
ALTER TABLE [dbo].[TrackListTrack]  WITH CHECK ADD  CONSTRAINT [FK__TrackList__Track__3F466844] FOREIGN KEY([TrackId])
REFERENCES [dbo].[Track] ([ID])
GO
ALTER TABLE [dbo].[TrackListTrack] CHECK CONSTRAINT [FK__TrackList__Track__3F466844]
GO
/****** Object:  StoredProcedure [dbo].[spAddTrackToList]    Script Date: 13-Jun-19 21:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAddTrackToList]
@TRACKID INT,
@TRACKLISTID INT
AS
BEGIN
INSERT INTO TrackListTrack VALUES(@TRACKLISTID , @TRACKID)
END
GO
/****** Object:  StoredProcedure [dbo].[spDeleteTrackFromTracklist]    Script Date: 13-Jun-19 21:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeleteTrackFromTracklist]
@TRACKLISTID INT
AS
BEGIN
DELETE 
FROM TrackListTrack
WHERE TrackListId = @TRACKLISTID
END
GO
USE [master]
GO
